.about-start-view {
  position: relative;
  height: calc(100vh - 89px);
  width: 100vw;
  margin-top: 89px;
  background-image: url(../../../assets/img/about_bcg_1920x1080.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-start-view > div {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.1);
}

.about-start-view .header-text h1 {
  margin: 15px;
  font-size: 50px;
  color: #fffcf2;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
}

.about-start-view .decoration {
  width: 50px;
  height: 3px;
  background-color: #cbaa70;
}

/* KONTENT */
.about-content {
  width: 100vw;
  height: auto;
}

.about-content > .image-header {
  position: relative;
  top: 75px;
  width: 60%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  background-image: url("../../../assets/img/about_image1_1920x1080.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-content .image-header > div {
  position: relative;
  display: flex;
  top: 75%;
  left: 0;
  width: 100%;
  padding: 25px;
  background-color: #cbaa7023;
}

.about-content > .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fffcf2;
  z-index: -1;
}

.about-content > .description > h2 {
  width: 40%;
  margin-bottom: 15px;
  margin-top: 50px;
  font-size: 25px;
  color: #cbaa70;
  font-family: "Delius", cursive;
}

.about-content > .description > span {
  width: 40%;
  font-size: 17px;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

.about-content > .description .line {
  width: 60%;
  height: 1px;
  margin: 60px;
  background-color: rgb(215, 215, 215);
}

.about-content > .description > .chef {
  display: flex;
  width: 40%;
  margin: 10px 0;
}

.about-content > .description > .chef.first {
  margin-top: 75px;
}

.about-content > .description > .chef > .image {
  flex-basis: 50%;
}

.about-content > .description > .chef > .image img {
  width: 100%;
}

.about-content > .description > .chef > .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
  padding-left: 30px;
}

.about-content > .description > .chef > .description > h2 {
  color: #cbaa70;
  font-size: 30px;
}
.about-content > .description > .chef > .description > span:nth-of-type(1) {
  margin: 5px 0 35px 0;
  color: #444;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

.about-content > .description > .chef > .description > span:nth-of-type(2) {
  color: rgb(113, 113, 113);
  font-size: 15px;
  line-height: 30px;
}

.about-content .option-for-user {
  width: 100%;
  padding: 25px 10px 75px 10px;
  background-color: #fffcf2;
  text-align: center;
}

.about-content .option-for-user > span {
  font-size: 25px;
  color: #666;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}

.about-content .option-for-user > span > a {
  text-decoration: none;
}

.about-content .option-for-user > span > a > span {
  display: inline-block;
  margin: 0 5px;
  font-size: 25px;
  color: #cbaa70;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}

.about-content .option-for-user > span > a > span:hover {
  color: #c4a56e;
}

@media (max-width: 1500px) {
  .about-content > .description > .chef {
    display: flex;
    width: 60%;
    height: 400px;
    margin: 10px 0;
  }

  .about-content > .description > .chef > .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  @media (max-width: 1200px) {
    .about-content > .image-header {
      width: 80%;
    }
    .about-content > .description > h2,
    .about-content > .description > span {
      width: 60%;
    }

    .about-content > .description > .chef {
      width: 75%;
    }
    @media (max-width: 900px) {
      .about-content > .image-header {
        width: 95%;
      }

      .about-content > .description {
        padding: 50px 25px;
      }

      .about-content > .description > h2,
      .about-content > .description > span,
      .about-content > .description > .chef {
        width: 100%;
      }

      .about-content > .description .line {
        width: 75%;
        margin: 60px 0 0 0;
      }
      @media (max-width: 600px) {
        .about-content > .description {
          padding: 50px 25px 0 25px;
        }

        .about-content > .description > .chef {
          flex-direction: column;
          height: fit-content;
          margin-bottom: 75px;
        }
        .about-content > .description > .chef > .image img {
          width: 100%;
          height: 400px;
          object-fit: cover;
          object-position: top;
        }
        .about-content > .image-header {
          width: 100%;
        }

        .about-content .option-for-user {
          padding: 0px 10px 75px 10px;
        }

        @media (max-width: 500px) {
          .about-start-view .decoration {
            width: 30px;
          }
          .about-start-view .header-text h1 {
            font-size: 45px;
          }
          .about-content > .image-header {
            display: none;
          }
          .about-content > .description .line {
            width: 90%;
          }
          .about-content > .description {
            padding: 50px 0px 0px 0px;
          }

          .about-content > .description > h2,
          .about-content > .description > span {
            padding: 0 25px;
          }
        }
      }
    }
  }
}

@media (max-height: 440px) and (orientation: landscape) {
  .about-start-view {
    height: calc(100vh - 59px);
    margin-top: 59px;
  }
  .about-content > .image-header {
    display: none;
  }
}
