/*
#ec8355 - orange
#2e222a - brown
#f7e9e4 - light
#dab6a8 - kremowy
#b81e0e - red
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Domine", serif; */
  font-family: "Inter", sans-serif;
  font-size: 30px;
}

body {
  background-color: #333131;
}

.wrapper {
  height: fit-content;
  width: 100%;
}

.test {
  width: 200px;
  height: 200px;
  background-color: red;
}

.test2 {
  width: 200px;
  height: 200px;
  background-color: bisque;
}
