.page-admin {
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

/* LOGIN */

.page-admin .login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

.page-admin .login .loading-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(51, 51, 51, 0.308);
}

.page-admin .login .loading-login .loader {
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 4px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s ease-in-out infinite;
}
.loader::after {
  border-color: #0d6dfd;
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.page-admin .login .loading-login .title {
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
  text-shadow: 0px 0px 5px #333;
}

.page-admin .login .loading-login .title .dots::after {
  animation: showDots 2s linear infinite;
  content: "";
}

@keyframes showDots {
  0% {
    content: "";
  }
  33.33% {
    content: ".";
  }
  66.66% {
    content: "..";
  }
  99.99% {
    content: "...";
  }
  100% {
    content: "...";
  }
}

.page-admin .login > div {
  display: flex;
  align-items: center;
  width: 800px;
  height: 400px;
  background-color: white;
  box-shadow: -20px 20px 15px -22px rgba(66, 68, 90, 1);
  box-shadow: 0px 31px 65px -24px rgba(66, 68, 90, 1);
}

.page-admin .login .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: 100%;
  padding: 50px 40px;
}

.page-admin .login .form > div.button-login {
  margin-left: auto;
}

.page-admin .login .form .info {
  display: block;
  width: 100%;
  margin-bottom: 35px;
}

.page-admin .login .form .info h3 {
  font-size: 33px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: #444;
}

.page-admin .login .form .info span {
  font-size: 16px;
  color: #666;
  font-weight: 500;
  font-family: "Noto Sans Wancho", sans-serif;
}

.page-admin .login label {
  display: block;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 2px;
  margin: 0 0px 10px 0;
  font-size: 16px;
}

.page-admin .login label input {
  width: 100%;
  padding: 12px 20px 12px 60px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.page-admin .login label .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 49px;
  height: 39px;
  border-right: 1px solid #aaa;
  background-color: rgba(221, 221, 221, 0.452);
}

.page-admin .login label .icon svg {
  font-size: 15px;
  color: rgba(102, 102, 102, 0.281);
  transition: 0.15s linear;
}

.page-admin .login label.active .icon svg {
  font-size: 15px;
  color: #0d6dfd;
}

.page-admin .login label input:focus {
  outline-color: #0d6dfd;
}

.page-admin .login label input::placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.page-admin .login button {
  width: max-content;
  padding: 10px 35px;
  border: 1px solid #333;
  font-size: 15px;
  font-weight: 400;
  color: #eee;
  background-color: #0d6dfd;
  font-family: "Roboto", sans-serif;
  transition: 0.15s linear;
}

.page-admin .login button:hover {
  cursor: pointer;
  text-shadow: 0px 0px 1px white;
  background-color: rgba(51, 51, 51, 0.959);
}

.page-admin .login .image-login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}

.page-admin .login .image-login-form .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  background-image: url(../../img/admin_640x427.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px) grayscale(100%);
  z-index: 1;
}

.page-admin .login .image-login-form .background::after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #333;
  z-index: 5;
}

.page-admin .login .image-login-form .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 10px;
  background-color: #0d6dfd4b;
  box-sizing: content-box;
  z-index: 3;
}

.page-admin .login .image-login-form .image img {
  width: 100%;
  image-rendering: optimizeQuality;
}

.page-admin .login .image-login-form .title,
.page-admin .login .image-login-form .title span {
  margin-top: 15px;
  color: #fff;
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 3;
}

.page-admin .login .image-login-form .title span {
  color: #0d6dfd;
}

.page-admin .login .error-login {
  color: red;
  font-weight: bold;
  font-size: 12px;
}

/* LOGOUT  */

.page-admin .logout-sidebar {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}

.page-admin .logout-sidebar > span.icon {
  font-size: 0px;
  margin: 0 15px;
}

.page-admin .logout-sidebar > span.icon > svg {
  color: rgba(17, 0, 255, 0.674);
}

.page-admin .logout-sidebar > span.text {
  font-size: 16px;
  color: #666;
  flex-grow: 1;
}

.page-admin .logout-sidebar span.text,
.page-admin .logout-sidebar span.icon {
  transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.page-admin .logout-sidebar:hover span.text,
.page-admin .logout-sidebar:hover span.icon {
  transform: translateX(20px);
}

.page-admin .logout-sidebar:hover span.text {
  opacity: 0.9;
}

.page-admin .bg-logout-popup {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.596);
  z-index: 5;
}

.page-admin .logout-popup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 150px;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10vh;
  box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
  background-color: white;
  overflow: hidden;
}

.page-admin .logout-popup .question {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.page-admin .logout-popup .logout-button,
.page-admin .logout-popup .cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 60px);
  height: 40px;
  border: 1px solid #333;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.page-admin .logout-popup .logout-button {
  border-radius: 5px;
  transform: translate(-150%);
  animation: leftToCenter 0.45s linear forwards;
}

.page-admin .logout-popup .cancel-button {
  border: 0;
  transform: translate(150%);
  animation: rightToCenter 0.45s linear forwards;
}

@keyframes leftToCenter {
  0% {
    transform: translate(-150%);
  }
  50% {
    transform: translate(20%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes rightToCenter {
  0% {
    transform: translate(150%);
  }
  50% {
    transform: translate(-20%);
  }
  100% {
    transform: translate(0%);
  }
}

.page-admin .logout-popup .logout-button:hover {
  opacity: 0.95;
}

.page-admin .logout-popup .cancel-button:hover {
  background-color: #444;
}

.page-admin .logout-popup .cancel-button:hover > span {
  color: white;
}

.page-admin .logout-popup .logout-button {
  border-color: rgba(17, 0, 255, 0.674);
  background-color: rgba(17, 0, 255, 0.674);
}

.page-admin .logout-popup .logout-button > span,
.page-admin .logout-popup .cancel-button > span {
  font-size: 12px;
  font-weight: bolder;
  color: rgba(17, 0, 255, 0.674);
}

.page-admin .logout-popup .logout-button > span {
  color: white;
}

/* TOP_BAR */

.page-admin .top-bar {
  position: fixed;
  left: 300px;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 5px 10px;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.22);
}

.page-admin .top-bar .form-search {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 45px;
}

.page-admin .top-bar .input-search {
  width: 30%;
  min-width: 259px;
  padding: 7px 25px;
  font-size: 15px;
  border: 1px solid #999;
  background-color: transparent;
  outline: none;
  color: #0d6dfd;
}

.page-admin .top-bar .input-search:focus {
  outline: 3px solid #62a1ffc1;
}

.page-admin .top-bar .btn-search {
  padding: 7px 25px;
  margin: 0 50px 0 15px;
  border: 1px solid #0d6dfd;
  font-size: 15px;
  background-color: transparent;
  color: #0d6dfd;
  text-transform: uppercase;
  transition: 0.15s ease-in-out;
}

.page-admin .top-bar .btn-search:hover {
  background-color: #0d6dfd;
  color: white;
  cursor: pointer;
}

.top-bar .other-options {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.top-bar .other-options > div {
  margin: 0 15px;
  cursor: pointer;
}

.top-bar .other-options .language {
  display: flex;
  align-items: center;
}

.top-bar .other-options .notifications,
.top-bar .other-options .messages {
  position: relative;
}

.top-bar .other-options .notifications .counter,
.top-bar .other-options .messages .counter {
  position: absolute;
  right: -2px;
  top: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: rgba(17, 0, 255, 0.674);
  font-size: 10px;
  font-weight: bolder;
  color: #fff;
}

.top-bar .other-options .language .icon > svg,
.top-bar .other-options .template-mode .icon > svg,
.top-bar .other-options .notifications .icon > svg,
.top-bar .other-options .messages .icon > svg {
  font-size: 25px;
  color: #666;
}

.top-bar .other-options .language .name {
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #888;
  letter-spacing: 1px;
}

.top-bar .other-options .avatar .icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../../img/avatar_50x50.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* SIDE_BAR */
.page-admin .sidebar {
  display: flex;
  flex-direction: column;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 100vh;
  border-right: 1px solid rgba(128, 128, 128, 0.22);
  background-color: white;
}

.page-admin .sidebar .head-text {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.22);
  color: rgba(17, 0, 255, 0.674);
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
}

.sidebar-nav {
  width: 100%;
  padding: 25px 20px;
}

.sidebar-nav .category-menu {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.sidebar-nav .category-menu:nth-of-type(1) {
  padding-top: 0px;
}

.sidebar-nav .category-menu .category-title {
  width: 100%;
  color: #888;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sidebar-nav .nav-item {
  width: 100%;
  margin-top: 20px;
  list-style: none;
  cursor: pointer;
}

.sidebar-nav .nav-item > * {
  transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sidebar-nav .nav-item:hover > * {
  transform: translateX(15px);
}

.sidebar-nav .nav-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar-nav .nav-item .nav-icon {
  display: flex;
  align-items: center;
}

.sidebar-nav .nav-item .nav-icon > svg {
  margin: 0 15px;
  color: rgba(17, 0, 255, 0.674);
  font-size: 25px;
}

.sidebar-nav .nav-item .item-text {
  color: #666;
  font-size: 16px;
}

.sidebar-nav .nav-item:hover .item-text {
  opacity: 0.9;
}

.sidebar-nav .nav-item a.active .item-text {
  color: rgba(17, 0, 255, 0.674);
  font-weight: bold;
}

/* Content  */
.content-admin-panel {
  position: absolute;
  left: 300px;
  right: 0;
  top: 70px;
  bottom: 0;
  padding: 10px;
  overflow-y: scroll;
}

/* DISHES  */

.content-admin-panel .box-dishes {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: calc(100% - 50px);
  padding-bottom: 20px;
  margin: 25px auto;
  border: 1px solid #ddd;
  overflow-y: scroll;
}

.content-admin-panel .box-dishes .dishes-search {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 25px;
  padding: 30px 20px 20px 20px;
  background-color: white;
  z-index: 1;
}

.content-admin-panel .box-dishes .dishes-search form {
  display: flex;
  width: 100%;
}

.content-admin-panel .box-dishes .dishes-search form select,
.content-admin-panel .box-dishes .dishes-search form input,
.content-admin-panel .box-dishes .dishes-search form button {
  padding: 5px 15px;
  border: 2px solid rgba(102, 102, 102, 0.295);
  font-size: 12px;
  color: #555;
  flex-grow: 1;
  appearance: none;
}

.content-admin-panel .box-dishes .dishes-search form .select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 2px;
}

.content-admin-panel .box-dishes .dishes-search form .select-wrapper span {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 4;
}

.content-admin-panel .box-dishes .dishes-search form .select-wrapper span svg {
  color: rgba(17, 0, 255, 0.674);
}

.content-admin-panel
  .box-dishes
  .dishes-search
  form
  .select-wrapper:nth-of-type(2) {
  margin-left: 0;
}

.content-admin-panel .box-dishes .dishes-search form .select-wrapper span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
}

.content-admin-panel .box-dishes .dishes-search form select {
  position: relative;
  left: 0;
  height: 100%;
  width: 100%;
}

.content-admin-panel .box-dishes .dishes-search form select.categories option,
.content-admin-panel .box-dishes .dishes-search form select.recommended option {
  font-size: 14px;
  padding: 20px 0;
}

.content-admin-panel .box-dishes .dishes-search form select:focus,
.content-admin-panel .box-dishes .dishes-search form input:focus {
  outline: none;
  box-shadow: 0 0 3px 1px rgba(17, 0, 255, 0.674);
  z-index: 3;
}

.content-admin-panel .box-dishes .dishes-search form > *::placeholder {
  color: #555;
}

.content-admin-panel .box-dishes .dishes-search .button-search {
  flex-grow: 0;
  display: flex;
  align-items: center;
  width: auto;
  background-color: white;
  cursor: pointer;
}

.content-admin-panel .box-dishes .dishes-search .button-search:hover {
  background-color: rgba(17, 0, 255, 0.674);
}

.content-admin-panel .box-dishes .dishes-search .button-search svg {
  color: rgba(17, 0, 255, 0.674);
  font-size: 20px;
}

.content-admin-panel .box-dishes .dishes-search .button-search:hover svg {
  color: white;
}

.content-admin-panel .dishes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.content-admin-panel .dishes .dishes-loading {
  position: relative;
  left: 0;
  top: 25%;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: #0d6dfd;
  letter-spacing: 2px;
  font-size: 20px;
}

.content-admin-panel .dishes > .dish {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 4px 20px;
  margin: 3px 0px;
  font-size: 0;
  border-bottom: 1px solid #0d6dfd33;
}

.content-admin-panel .dishes > .dish.prototype {
  min-height: auto;
  height: auto;
  border: 0;
  margin-bottom: 10px;
  color: #555;
}

.content-admin-panel .dishes > .dish.prototype > * {
  font-size: 15px;
}

.content-admin-panel .dishes > .dish > * {
  font-size: 12px;
  color: #444;
}

.content-admin-panel .dishes .dish .checkbox {
  min-width: 30px;
  width: 30px;
  margin-right: 10px;
}

.content-admin-panel .dishes .dish .checkbox input {
  appearance: none;
  margin: 0;

  font-size: 15px;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid rgba(17, 0, 255, 0.674);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

.content-admin-panel .dishes .dish .checkbox input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

.content-admin-panel .dishes .dish .checkbox input:checked::before {
  transform: scale(1);
}

.content-admin-panel .dishes .dish .checkbox input:focus {
  outline: max(2px, 0.15em) solid #0d6dfd;
  outline-offset: max(2px, 0.15em);
}

.content-admin-panel .dishes .dish .checkbox input:disabled {
  --form-control-color: rebeccapurple;
  color: #959495;
  cursor: not-allowed;
}

.content-admin-panel .dishes .dish .image {
  min-width: 100px;
  width: 100px;
}

.content-admin-panel .dishes .dish .image img {
  width: 100px;
}

.content-admin-panel .dishes .dish .name {
  min-width: 100px;
  width: 100px;
  margin: 0 20px;
  font-weight: bold;
}

.content-admin-panel .dishes .dish .description {
  min-width: 100px;
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content-admin-panel .dishes .dish .recommended {
  display: flex;
  justify-content: center;
  min-width: 100px;
  width: 100px;
  margin: 0 40px;
}

.content-admin-panel .dishes .dish .recommended .star svg {
  color: #ddd;
  font-size: 25px;
  cursor: pointer;
}

.content-admin-panel .dishes .dish .recommended .star.recommended svg {
  color: #f7de3a;
}

.content-admin-panel .dishes .dish .price {
  min-width: 40px;
  width: 40px;
  text-align: right;
  font-weight: bold;
}

.content-admin-panel .dishes .dish .settings {
  display: flex;
  justify-content: right;
  min-width: 100px;
  width: 100px;
  margin-left: 20px;
  text-align: right;
}

.content-admin-panel .dishes .dish.prototype .settings {
  display: block;
}

.content-admin-panel .dishes .dish .settings span {
  padding: 0 10px;
  margin-left: 5px;
  cursor: pointer;
}

.content-admin-panel .dishes .dish .settings svg {
  font-size: 20px;
  color: #444;
  transition: 0.15s linear;
}

.content-admin-panel .dishes .dish .settings span:hover svg {
  color: rgba(17, 0, 255, 0.674);
}

/* RWD  */

@media (max-width: 600px) {
  .page-admin .login > div {
    flex-direction: column-reverse;
    height: auto;
  }

  .page-admin .login .form {
    width: 100%;
  }

  .page-admin .login .image-login-form {
    width: 100%;
    padding: 50px 0;
  }
}
