.page-admin {
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

/* LOGIN */

.page-admin .login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

.page-admin .login .loading-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(51, 51, 51, 0.308);
}

.page-admin .login .loading-login .loader {
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 4px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s ease-in-out infinite;
}
.loader::after {
  border-color: #0d6dfd;
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.page-admin .login .loading-login .title {
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
  text-shadow: 0px 0px 5px #333;
}

.page-admin .login .loading-login .title .dots::after {
  animation: showDots 2s linear infinite;
  content: "";
}

@keyframes showDots {
  0% {
    content: "";
  }
  33.33% {
    content: ".";
  }
  66.66% {
    content: "..";
  }
  99.99% {
    content: "...";
  }
  100% {
    content: "...";
  }
}

.page-admin .login > div {
  display: flex;
  align-items: center;
  width: 800px;
  height: 400px;
  background-color: white;
  box-shadow: -20px 20px 15px -22px rgba(66, 68, 90, 1);
  box-shadow: 0px 31px 65px -24px rgba(66, 68, 90, 1);
}

.page-admin .login .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: 100%;
  padding: 50px 40px;
}

.page-admin .login .form > div.button-login {
  margin-left: auto;
}

.page-admin .login .form .info {
  display: block;
  width: 100%;
  margin-bottom: 35px;
}

.page-admin .login .form .info h3 {
  font-size: 33px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: #444;
}

.page-admin .login .form .info span {
  font-size: 16px;
  color: #666;
  font-weight: 500;
  font-family: "Noto Sans Wancho", sans-serif;
}

.page-admin .login label {
  display: block;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 2px;
  margin: 0 0px 10px 0;
  font-size: 16px;
}

.page-admin .login label input {
  width: 100%;
  padding: 12px 20px 12px 60px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.page-admin .login label .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 49px;
  height: 39px;
  border-right: 1px solid #aaa;
  background-color: rgba(221, 221, 221, 0.452);
}

.page-admin .login label .icon svg {
  font-size: 15px;
  color: rgba(102, 102, 102, 0.281);
  transition: 0.15s linear;
}

.page-admin .login label.active .icon svg {
  font-size: 15px;
  color: #0d6dfd;
}

.page-admin .login label input:focus {
  outline-color: #0d6dfd;
}

.page-admin .login label input::placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.page-admin .login button {
  width: max-content;
  padding: 10px 35px;
  border: 1px solid #333;
  font-size: 15px;
  font-weight: 400;
  color: #eee;
  background-color: #0d6dfd;
  font-family: "Roboto", sans-serif;
  transition: 0.15s linear;
}

.page-admin .login button:hover {
  cursor: pointer;
  text-shadow: 0px 0px 1px white;
  background-color: rgba(51, 51, 51, 0.959);
}

.page-admin .login .image-login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}

.page-admin .login .image-login-form .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  background-image: url(../../img/admin_640x427.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px) grayscale(100%);
  z-index: 1;
}

.page-admin .login .image-login-form .background::after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #333;
  z-index: 5;
}

.page-admin .login .image-login-form .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 10px;
  background-color: #0d6dfd4b;
  box-sizing: content-box;
  z-index: 3;
}

.page-admin .login .image-login-form .image img {
  width: 100%;
  image-rendering: optimizeQuality;
}

.page-admin .login .image-login-form .title,
.page-admin .login .image-login-form .title span {
  margin-top: 15px;
  color: #fff;
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 3;
}

.page-admin .login .image-login-form .title span {
  color: #0d6dfd;
}

.page-admin .login .error-login {
  color: red;
  font-weight: bold;
  font-size: 12px;
}

/* LOGOUT  */

.page-admin .logout-sidebar {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}

.page-admin .logout-sidebar > span.icon {
  font-size: 0px;
  margin: 0 15px;
}

.page-admin .logout-sidebar > span.icon > svg {
  color: rgba(17, 0, 255, 0.674);
}

.page-admin .logout-sidebar > span.text {
  font-size: 16px;
  color: #666;
  flex-grow: 1;
}

.page-admin .logout-sidebar span.text,
.page-admin .logout-sidebar span.icon {
  transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.page-admin .logout-sidebar:hover span.text,
.page-admin .logout-sidebar:hover span.icon {
  transform: translateX(20px);
}

.page-admin .logout-sidebar:hover span.text {
  opacity: 0.9;
}

.page-admin .bg-logout-popup {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.596);
  z-index: 5;
}

.page-admin .logout-popup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 150px;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10vh;
  box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
  background-color: white;
  overflow: hidden;
}

.page-admin .logout-popup .question {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.page-admin .logout-popup .logout-button,
.page-admin .logout-popup .cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 60px);
  height: 40px;
  border: 1px solid #333;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.page-admin .logout-popup .logout-button {
  border-radius: 5px;
  transform: translate(-150%);
  animation: leftToCenter 0.45s linear forwards;
}

.page-admin .logout-popup .cancel-button {
  border: 0;
  transform: translate(150%);
  animation: rightToCenter 0.45s linear forwards;
}

@keyframes leftToCenter {
  0% {
    transform: translate(-150%);
  }
  50% {
    transform: translate(20%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes rightToCenter {
  0% {
    transform: translate(150%);
  }
  50% {
    transform: translate(-20%);
  }
  100% {
    transform: translate(0%);
  }
}

.page-admin .logout-popup .logout-button:hover {
  opacity: 0.95;
}

.page-admin .logout-popup .cancel-button:hover {
  background-color: #444;
}

.page-admin .logout-popup .cancel-button:hover > span {
  color: white;
}

.page-admin .logout-popup .logout-button {
  border-color: rgba(17, 0, 255, 0.674);
  background-color: rgba(17, 0, 255, 0.674);
}

.page-admin .logout-popup .logout-button > span,
.page-admin .logout-popup .cancel-button > span {
  font-size: 12px;
  font-weight: bolder;
  color: rgba(17, 0, 255, 0.674);
}

.page-admin .logout-popup .logout-button > span {
  color: white;
}

/* TOP_BAR */

.page-admin .top-bar {
  position: fixed;
  left: 300px;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 5px 10px;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.22);
}

.page-admin .top-bar .form-search {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 45px;
}

.page-admin .top-bar .input-search {
  width: 30%;
  min-width: 259px;
  padding: 7px 25px;
  font-size: 15px;
  border: 1px solid #999;
  background-color: transparent;
  outline: none;
  color: #0d6dfd;
}

.page-admin .top-bar .input-search:focus {
  outline: 3px solid #62a1ffc1;
}

.page-admin .top-bar .btn-search {
  padding: 7px 25px;
  margin: 0 50px 0 15px;
  border: 1px solid #0d6dfd;
  font-size: 15px;
  background-color: transparent;
  color: #0d6dfd;
  text-transform: uppercase;
  transition: 0.15s ease-in-out;
}

.page-admin .top-bar .btn-search:hover {
  background-color: #0d6dfd;
  color: white;
  cursor: pointer;
}

.top-bar .other-options {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.top-bar .other-options > div {
  margin: 0 15px;
  cursor: pointer;
}

.top-bar .other-options .language {
  display: flex;
  align-items: center;
}

.top-bar .other-options .notifications,
.top-bar .other-options .messages {
  position: relative;
}

.top-bar .other-options .notifications .counter,
.top-bar .other-options .messages .counter {
  position: absolute;
  right: -2px;
  top: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: rgba(17, 0, 255, 0.674);
  font-size: 10px;
  font-weight: bolder;
  color: #fff;
}

.top-bar .other-options .language .icon > svg,
.top-bar .other-options .template-mode .icon > svg,
.top-bar .other-options .notifications .icon > svg,
.top-bar .other-options .messages .icon > svg {
  font-size: 25px;
  color: #666;
}

.top-bar .other-options .language .name {
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #888;
  letter-spacing: 1px;
}

.top-bar .other-options .avatar .icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../../img/avatar_50x50.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* SIDE_BAR */
.page-admin .sidebar {
  display: flex;
  flex-direction: column;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 100vh;
  border-right: 1px solid rgba(128, 128, 128, 0.22);
  background-color: white;
}

.page-admin .sidebar .head-text {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.22);
  color: rgba(17, 0, 255, 0.674);
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
}

.sidebar-nav {
  width: 100%;
  padding: 25px 20px;
}

.sidebar-nav .category-menu {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.sidebar-nav .category-menu:nth-of-type(1) {
  padding-top: 0px;
}

.sidebar-nav .category-menu .category-title {
  width: 100%;
  color: #888;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sidebar-nav .nav-item {
  width: 100%;
  margin-top: 20px;
  list-style: none;
  cursor: pointer;
}

.sidebar-nav .nav-item > * {
  transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sidebar-nav .nav-item:hover > * {
  transform: translateX(15px);
}

.sidebar-nav .nav-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar-nav .nav-item .nav-icon {
  display: flex;
  align-items: center;
}

.sidebar-nav .nav-item .nav-icon > svg {
  margin: 0 15px;
  color: rgba(17, 0, 255, 0.674);
  font-size: 25px;
}

.sidebar-nav .nav-item .item-text {
  color: #666;
  font-size: 16px;
}

.sidebar-nav .nav-item:hover .item-text {
  opacity: 0.9;
}

.sidebar-nav .nav-item a.active .item-text {
  color: rgba(17, 0, 255, 0.674);
  font-weight: bold;
}

/* Content  */
.content-admin-panel {
  position: absolute;
  left: 300px;
  right: 0;
  top: 70px;
  bottom: 0;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* DISHES  */

.content-admin-panel .box-dishes {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: calc(100% - 50px);
  padding-bottom: 20px;
  margin: 25px auto;
  border: 1px solid #ddd;
  overflow-y: scroll;
}

.content-admin-panel .box-dishes .dishes-search {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 25px;
  padding: 30px 20px 20px 20px;
  background-color: white;
  z-index: 1;
}

.content-admin-panel .box-dishes .dishes-search form {
  display: flex;
  width: 100%;
}

.content-admin-panel .box-dishes .dishes-search form select,
.content-admin-panel .box-dishes .dishes-search form input,
.content-admin-panel .box-dishes .dishes-search form button {
  padding: 5px 15px;
  border: 2px solid rgba(102, 102, 102, 0.295);
  font-size: 12px;
  color: #555;
  flex-grow: 1;
  appearance: none;
}

.content-admin-panel .box-dishes .dishes-search form .select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 2px;
}

.content-admin-panel .box-dishes .dishes-search form .select-wrapper span {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 4;
}

.content-admin-panel .box-dishes .dishes-search form .select-wrapper span svg {
  color: rgba(17, 0, 255, 0.674);
}

.content-admin-panel
  .box-dishes
  .dishes-search
  form
  .select-wrapper:nth-of-type(2) {
  margin-left: 0;
}

.content-admin-panel .box-dishes .dishes-search form .select-wrapper span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
}

.content-admin-panel .box-dishes .dishes-search form select {
  position: relative;
  left: 0;
  height: 100%;
  width: 100%;
}

.content-admin-panel .box-dishes .dishes-search form select.categories option,
.content-admin-panel .box-dishes .dishes-search form select.recommended option {
  font-size: 14px;
  padding: 20px 0;
}

.content-admin-panel .box-dishes .dishes-search form select:focus,
.content-admin-panel .box-dishes .dishes-search form input:focus {
  outline: none;
  box-shadow: 0 0 3px 1px rgba(17, 0, 255, 0.674);
  z-index: 3;
}

.content-admin-panel .box-dishes .dishes-search form > *::placeholder {
  color: #555;
}

.content-admin-panel .box-dishes .dishes-search .button-search {
  flex-grow: 0;
  display: flex;
  align-items: center;
  width: auto;
  background-color: white;
  cursor: pointer;
}

.content-admin-panel .box-dishes .dishes-search .button-search:hover {
  background-color: rgba(17, 0, 255, 0.674);
}

.content-admin-panel .box-dishes .dishes-search .button-search svg {
  color: rgba(17, 0, 255, 0.674);
  font-size: 20px;
}

.content-admin-panel .box-dishes .dishes-search .button-search:hover svg {
  color: white;
}

.content-admin-panel .dishes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.content-admin-panel .dishes .dishes-loading {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.content-admin-panel .dishes .dishes-loading span.container {
  display: block;
  position: relative;
  width: 28px;
  height: 28px;
  margin-bottom: 10px;
}

/* timeFunction = ease-in-out
duration = 4s
delay = 0s */

.content-admin-panel .dishes .dishes-loading span.container .box1,
.content-admin-panel .dishes .dishes-loading span.container .box2,
.content-admin-panel .dishes .dishes-loading span.container .box3 {
  border: 2px solid slateblue;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.content-admin-panel .dishes .dishes-loading span.container .box1 {
  animation: anime1 4s 0s forwards ease-in-out infinite;
}

.content-admin-panel .dishes .dishes-loading span.container .box2 {
  animation: anime2 4s 0s forwards ease-in-out infinite;
}

.content-admin-panel .dishes .dishes-loading span.container .box3 {
  animation: anime3 4s 0s forwards ease-in-out infinite;
}

@keyframes anime1 {
  0% {
    width: 28px;
    height: 12px;
    margin-top: 16px;
    margin-left: 0px;
  }
  12.5% {
    width: 12px;
    height: 12px;
    margin-top: 16px;
    margin-left: 0px;
  }
  25% {
    width: 12px;
    height: 12px;
    margin-top: 16px;
    margin-left: 0px;
  }
  37.5% {
    width: 12px;
    height: 12px;
    margin-top: 16px;
    margin-left: 0px;
  }
  50% {
    width: 12px;
    height: 12px;
    margin-top: 16px;
    margin-left: 0px;
  }
  62.5% {
    width: 12px;
    height: 12px;
    margin-top: 16px;
    margin-left: 0px;
  }
  75% {
    width: 12px;
    height: 28px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes anime2 {
  0% {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 0px;
  }
  12.5% {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 0px;
  }
  25% {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 0px;
  }
  37.5% {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 0px;
  }
  50% {
    width: 28px;
    height: 12px;
    margin-top: 0px;
    margin-left: 0px;
  }
  62.5% {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 16px;
  }
  75% {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 16px;
  }
  87.5% {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 16px;
  }
  100% {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 16px;
  }
}
@keyframes anime3 {
  0% {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 16px;
  }
  12.5% {
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 16px;
  }
  25% {
    width: 12px;
    height: 28px;
    margin-top: 0px;
    margin-left: 16px;
  }
  37.5% {
    width: 12px;
    height: 12px;
    margin-top: 16px;
    margin-left: 16px;
  }
  50% {
    width: 12px;
    height: 12px;
    margin-top: 16px;
    margin-left: 16px;
  }
  62.5% {
    width: 12px;
    height: 12px;
    margin-top: 16px;
    margin-left: 16px;
  }
  75% {
    width: 12px;
    height: 12px;
    margin-top: 16px;
    margin-left: 16px;
  }
  87.5% {
    width: 12px;
    height: 12px;
    margin-top: 16px;
    margin-left: 16px;
  }
  100% {
    width: 28px;
    height: 12px;
    margin-top: 16px;
    margin-left: 0px;
  }
}

.content-admin-panel .dishes .dishes-loading span.text {
  color: slateblue;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
}

.content-admin-panel .dishes .dishes-loading span.text::after {
  content: ".";
  animation: showDots 1.5s linear infinite;
}

.content-admin-panel .dishes > .dish {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 4px 20px;
  margin: 3px 0px;
  font-size: 0;
  border-bottom: 1px solid #0d6dfd33;
}

.content-admin-panel .dishes > .dish.prototype {
  min-height: auto;
  height: auto;
  border: 0;
  margin-bottom: 10px;
  color: #555;
}

.content-admin-panel .dishes > .dish.prototype > * {
  font-size: 15px;
}

.content-admin-panel .dishes > .dish > * {
  font-size: 12px;
  color: #444;
}

.content-admin-panel .dishes .dish .checkbox {
  min-width: 30px;
  width: 30px;
  margin-right: 10px;
}

.content-admin-panel .dishes .dish .checkbox input {
  appearance: none;
  margin: 0;

  font-size: 15px;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid rgba(17, 0, 255, 0.674);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

.content-admin-panel .dishes .dish .checkbox input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

.content-admin-panel .dishes .dish .checkbox input:checked::before {
  transform: scale(1);
}

.content-admin-panel .dishes .dish .checkbox input:focus {
  outline: max(2px, 0.15em) solid #0d6dfd;
  outline-offset: max(2px, 0.15em);
}

.content-admin-panel .dishes .dish .checkbox input:disabled {
  --form-control-color: rebeccapurple;
  color: #959495;
  cursor: not-allowed;
}

.content-admin-panel .dishes .dish .image {
  min-width: 100px;
  width: 100px;
}

.content-admin-panel .dishes .dish .image img {
  width: 100px;
}

.content-admin-panel .dishes .dish .name {
  min-width: 100px;
  width: 100px;
  margin: 0 20px;
  font-weight: bold;
}

.content-admin-panel .dishes .dish .description {
  min-width: 100px;
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content-admin-panel .dishes .dish .recommended {
  display: flex;
  justify-content: center;
  min-width: 100px;
  width: 100px;
  margin: 0 40px;
}

.content-admin-panel .dishes .dish .recommended .star svg {
  color: #ddd;
  font-size: 25px;
  cursor: pointer;
}

.content-admin-panel .dishes .dish .recommended .star.recommended svg {
  color: #f7de3a;
}

.content-admin-panel .dishes .dish .price {
  min-width: 40px;
  width: 40px;
  text-align: right;
  font-weight: bold;
}

.content-admin-panel .dishes .dish .settings {
  display: flex;
  justify-content: right;
  min-width: 100px;
  width: 100px;
  margin-left: 20px;
  text-align: right;
}

.content-admin-panel .dishes .dish.prototype .settings {
  display: block;
}

.content-admin-panel .dishes .dish .settings span {
  padding: 0 10px;
  margin-left: 5px;
  cursor: pointer;
}

.content-admin-panel .dishes .dish .settings svg {
  font-size: 20px;
  color: #444;
  transition: 0.15s linear;
}

.content-admin-panel .dishes .dish .settings span:hover svg {
  color: rgba(17, 0, 255, 0.674);
}

/* DISH DETAILS  */

.content-admin-panel .dish-detail-box {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 25px;
  background-color: #f0f0fa;
  z-index: 5;
  animation: hide-dish-detail-box 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22)
    forwards;
  transform: translate(0, 0);
}

.content-admin-panel .dish-detail-box.active {
  animation: show-dish-detail-box 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22)
    forwards;
  transform: translate(100%, 0);
}

@keyframes show-dish-detail-box {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes hide-dish-detail-box {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

.dish-detail-box .top {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  box-shadow: 0px 0px 15px 2px rgba(66, 68, 90, 0.089);
  background-color: white;
}

.dish-detail-box .top > h2 {
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  padding: 25px;
}

.dish-detail-box .top > .image {
  position: relative;
  width: 100%;
  height: auto;
  padding: 25px;
  border-top: 1px solid rgba(34, 34, 34, 0.137);
}

.dish-detail-box .top > .image img {
  width: 100%;
  height: auto;
  max-height: 255px;
  object-fit: cover;
}

.dish-detail-box .top > .image .name {
  position: absolute;
  left: 0;
  bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 0px 0px 20px rgba(17, 0, 255, 0.674);
}

.dish-detail-box .bottom {
  display: flex;
  width: 100%;
}

.dish-detail-box .dish-info {
  width: 50%;
  height: fit-content;
  padding: 25px;
  margin-right: 25px;
  background-color: white;
  box-shadow: 0px 0px 15px 2px rgba(66, 68, 90, 0.089);
}

.dish-detail-box .dish-info .header {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.dish-detail-box .dish-info .list {
  margin-top: 25px;
}

.dish-detail-box .dish-info .list > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-top: 1px solid rgba(34, 34, 34, 0.137);
}

.dish-detail-box .dish-info .list > span > span:nth-of-type(1) {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.dish-detail-box .dish-info .list > span > span:nth-of-type(2) {
  font-size: 14px;
  color: #333;
}

.dish-detail-box .dish-info .list > span > span.recommended-block {
  display: block;
  width: auto;
  height: auto;
  padding: 2px 15px;
  border-radius: 10px;
  background-color: rgba(17, 0, 255, 0.674);
  color: white;
}

.dish-detail-box .dish-info .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.dish-detail-box .dish-info .buttons .button {
  width: 110px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  padding: 12px 0;
  cursor: pointer;
  transition: 0.1s 0.05s linear;
}

.dish-detail-box .dish-info .buttons .button:hover {
  filter: contrast(150%);
}

.dish-detail-box .dish-info .buttons .button.edit {
  background-color: rgba(17, 0, 255, 0.674);
  border: 1px solid rgba(17, 0, 255, 0.674);
}

.dish-detail-box .dish-info .buttons .button.delete {
  background-color: #222;
}

.dish-detail-box .dish-more-info {
  width: 50%;
  height: fit-content;
  padding: 25px;
  background-color: white;
  box-shadow: 0px 0px 15px 2px rgba(66, 68, 90, 0.089);
}

.dish-detail-box .dish-more-info .header {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.dish-detail-box .dish-more-info .description {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  width: 75%;
  padding-right: 25%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.137);
  margin-bottom: 50px;
}

.dish-detail-box .dish-more-info .description > span {
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
}

.dish-detail-box .dish-more-info .description > span.edit-text {
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.dish-detail-box .dish-more-info .description > span.edit-text textarea {
  max-width: 100%;
  width: 100%;
  padding: 15px 25px;
  margin: -6px -11px;
  border: 1px solid rgba(34, 34, 34, 0.137);
  line-height: 1.5em;
  font-size: 14px;
  color: #333;
  background-color: transparent;
  outline: none;
  resize: vertical;
  overflow: hidden;
}

.dish-detail-box
  .dish-more-info
  .description
  > span.edit-text
  .header-textarea {
  display: block;
  position: absolute;
  left: 10px;
  top: -15px;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
}

.dish-detail-box .dish-more-info .description > span.icon {
  display: flex;
  align-self: flex-end;
  margin-bottom: 0;
  padding: 5px;
  margin-left: 15px;
  cursor: pointer;
}

.dish-detail-box .dish-more-info .description > span.icon svg {
  font-size: 25px;
  color: #333;
  transition: 0.25s 0.05s ease-out;
}

.dish-detail-box .dish-more-info .description > span.icon:hover svg {
  color: #0d6dfd;
}

.dish-detail-box .dish-more-info .description > span.icon.edited:hover svg {
  color: greenyellow;
  background-color: #333;
  border: 1px solid transparent;
}

.dish-detail-box .dish-more-info .button {
  display: flex;
  justify-content: end;
  width: 100%;
}

.dish-detail-box .dish-more-info .button span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 150px;
  height: 60px;
  border-radius: 15px;
  background-color: #0d6dfd;
  font-weight: bold;
  color: #eee;
  text-align: center;
  cursor: pointer;
  transition: 0.15s 0.04s ease-in-out;
}

.dish-detail-box .dish-more-info .button span svg {
  margin-right: 10px;
}

.dish-detail-box .dish-more-info .button:hover span {
  background-color: #0d6dfdf1;
  color: #fff;
}

/* ADD DISH BUTTON  */
.content-admin-panel .box-button-add-dish {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.content-admin-panel .button-add-dish {
  padding: 7px 40px;
  border: 2px solid rgba(17, 0, 255, 0.674);
  margin: 30px 50px 0 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  color: rgba(17, 0, 255, 0.674);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.15s 0.05s ease-in-out;
}

.content-admin-panel .button-add-dish:hover {
  color: white;
  background-color: rgba(17, 0, 255, 0.674);
}

.content-admin-panel .box-form-add-dish {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  min-height: 100%;
  padding: 20px 40px 20px 50px;
  background-color: #f0f0fa;
}

.box-form-add-dish .box-message {
  height: 60px;
  width: 100%;
  overflow: hidden;
}

.box-form-add-dish .message {
  padding: 13px 20px;
  border: 1px solid #07be6e;
  border-radius: 5px;
  font-size: 14px;
  color: #07be6e;
  background-color: #e0ffef;
  margin-bottom: 25px;
  animation: showMessage 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
  transform: translateY(-100px);
}

@keyframes showMessage {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

.box-form-add-dish .message span {
  font-size: 14px;
  font-weight: bolder;
}

.box-form-add-dish .form-add-dish {
  width: 100%;
  height: 100%;
}

.box-form-add-dish .form-add-dish form {
  display: flex;
  height: 100%;
}

.box-form-add-dish .form-add-dish .section-form {
  width: 50%;
  height: fit-content;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(66, 68, 90, 0.089);
  border-radius: 5px;
}

.box-form-add-dish .main-form {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-right: 40px;
}

.box-form-add-dish .main-form .content-form {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  padding: 10px 25px 25px 25px;
}

.box-form-add-dish .form-add-dish .section-form .header {
  width: 100%;
  height: fit-content;
  padding: 25px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.137);
  font-size: 16px;
  color: #222;
  font-weight: bolder;
  text-transform: uppercase;
}

.box-form-add-dish .form-add-dish .main-form .element {
  position: relative;
  left: 0;
  top: 0;
  width: 50%;
  padding-bottom: 20px;
}

.box-form-add-dish .form-add-dish .main-form .element label {
  width: fit-content;
  font-size: 14px;
  color: #333;
}

.box-form-add-dish .form-add-dish .main-form .element:nth-of-type(1),
.box-form-add-dish .form-add-dish .main-form .element:nth-last-of-type(1),
.box-form-add-dish .form-add-dish .main-form .element:nth-last-of-type(2) {
  width: 100%;
}

.box-form-add-dish
  .form-add-dish
  .main-form
  .element:nth-last-of-type(2)
  input {
  word-wrap: break-word;
  word-break: break-all;
  padding-bottom: 100px;
}

.box-form-add-dish .form-add-dish .main-form .element:nth-of-type(2n + 2) {
  padding-right: 10px;
}

.box-form-add-dish .form-add-dish .main-form .element:nth-last-of-type(2) {
  padding-right: 0;
}

.box-form-add-dish .form-add-dish .main-form .element input,
.box-form-add-dish .form-add-dish .main-form .element select,
.box-form-add-dish .form-add-dish .main-form .element textarea {
  width: 100%;
  margin-top: 5px;
  padding: 10px 12px;
  border: 1px solid rgba(34, 34, 34, 0.137);
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.box-form-add-dish .form-add-dish .main-form .element input[name="price"],
.box-form-add-dish .form-add-dish .main-form .element input[name="gramature"] {
  padding-right: 40px;
}

.box-form-add-dish .form-add-dish .main-form .element textarea {
  min-height: 100px;
  max-height: 100px;
  min-width: 100%;
  max-width: 100%;
}

.box-form-add-dish .form-add-dish .main-form .element select option {
  font-size: 14px;
}

.box-form-add-dish .form-add-dish .main-form .element input:focus,
.box-form-add-dish .form-add-dish .main-form .element select:focus,
.box-form-add-dish .form-add-dish .main-form .element textarea:focus {
  outline: none;
  box-shadow: 0 0 3px 1px rgba(17, 0, 255, 0.674);
}

.box-form-add-dish .form-add-dish .main-form .element .uploaded-image {
  position: relative;
  cursor: pointer;
  padding-right: 0;
  border: 1px solid rgba(34, 34, 34, 0.212);
}

.box-form-add-dish
  .form-add-dish
  .main-form
  .element
  .uploaded-image::-webkit-file-upload-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
  margin-right: 0;
  border: 0px;
  background-color: rgba(34, 34, 34, 0.082);
  color: #777;
  cursor: pointer;
}

.box-form-add-dish .form-add-dish .main-form input ~ .mark {
  position: absolute;
  right: 30px;
  top: 51px;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.box-form-add-dish .form-add-dish .main-form input[name="price"] ~ .mark {
  right: 20px;
}

.box-form-add-dish .form-add-dish .main-form .content-form .error-message {
  display: none;
  margin: 5px 0 0 10px;
  color: rgba(255, 0, 0, 0.849);
  font-weight: bold;
  font-size: 10px;
}

.form-add-dish .main-form input:invalid[focused="true"] {
  border: 1px solid rgba(255, 0, 0, 0.281);
}

.form-add-dish .main-form input:invalid:focus {
  border: 1px solid rgba(34, 34, 34, 0.137);
}

.form-add-dish .main-form input:invalid[focused="true"] ~ .error-message {
  display: block;
}

.box-form-add-dish .second-form {
  display: flex;
  flex-direction: column;
}

.box-form-add-dish .second-form .image {
  width: 100%;
  height: fit-content;
  max-height: 400px;
  padding: 0 25px;
  margin: 25px 0 30px 0;
}

.box-form-add-dish .second-form .image img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  object-position: center;
}

.box-form-add-dish .second-form .other-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 25px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.137);
}

.box-form-add-dish .second-form .other-settings span {
  font-size: 14px;
  font-weight: 600;
}

.box-form-add-dish .second-form .other-settings label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.box-form-add-dish .second-form .other-settings input {
  appearance: none;
}

.box-form-add-dish .second-form .other-settings .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.box-form-add-dish .second-form .other-settings .switch .slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.box-form-add-dish
  .second-form
  .other-settings
  .switch
  input:checked
  + .slider {
  background-color: rgba(17, 0, 255, 0.674);
}

.box-form-add-dish .second-form .other-settings .switch input:focus + .slider {
  box-shadow: 0 0 1px rgba(17, 0, 255, 0.674);
}

.box-form-add-dish
  .second-form
  .other-settings
  .switch
  input:checked
  + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.box-form-add-dish .second-form .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.box-form-add-dish .second-form .buttons button {
  padding: 20px 40px;
  margin-top: 25px;
  border: 1px solid #0d6dfd;
  border-radius: 2px;
  font-size: 15px;
  background-color: #0d6dfd;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

/* RWD  */

@media (max-width: 1200px) {
  .box-form-add-dish .form-add-dish form {
    flex-direction: column;
  }
  .box-form-add-dish .form-add-dish .section-form {
    width: 100%;
    margin-bottom: 25px;
  }
}

@media (max-width: 600px) {
  .page-admin .login > div {
    flex-direction: column-reverse;
    height: auto;
  }

  .page-admin .login .form {
    width: 100%;
  }

  .page-admin .login .image-login-form {
    width: 100%;
    padding: 50px 0;
  }
}
