.page-admin {
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

/* LOGIN */

.page-admin .login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

.page-admin .login .loading-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(51, 51, 51, 0.308);
}

.page-admin .login .loading-login .loader {
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 4px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s ease-in-out infinite;
}
.loader::after {
  border-color: #0d6dfd;
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.page-admin .login .loading-login .title {
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
}

.page-admin .login > div {
  display: flex;
  align-items: center;
  width: 800px;
  height: 400px;
  background-color: white;
  box-shadow: -20px 20px 15px -22px rgba(66, 68, 90, 1);
  box-shadow: 0px 31px 65px -24px rgba(66, 68, 90, 1);
}

.page-admin .login .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: 100%;
  padding: 50px 40px;
}

.page-admin .login .form > div:nth-of-type(2) {
  margin-left: auto;
}

.page-admin .login .form .info {
  display: block;
  width: 100%;
  margin-bottom: 35px;
}

.page-admin .login .form .info h3 {
  font-size: 33px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: #444;
}

.page-admin .login .form .info span {
  font-size: 16px;
  color: #666;
  font-weight: 500;
  font-family: "Noto Sans Wancho", sans-serif;
}

.page-admin .login label {
  display: block;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 2px;
  margin: 0 0px 10px 0;
  font-size: 16px;
}

.page-admin .login label input {
  width: 100%;
  padding: 12px 20px 12px 60px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.page-admin .login label .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 49px;
  height: 39px;
  border-right: 1px solid #aaa;
  background-color: rgba(221, 221, 221, 0.452);
}

.page-admin .login label .icon svg {
  font-size: 15px;
  color: rgba(102, 102, 102, 0.281);
  transition: 0.15s linear;
}

.page-admin .login label.active .icon svg {
  font-size: 15px;
  color: #0d6dfd;
}

.page-admin .login label input:focus {
  outline-color: #0d6dfd;
}

.page-admin .login label input::placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.page-admin .login button {
  width: max-content;
  padding: 10px 35px;
  border: 1px solid #333;
  font-size: 15px;
  font-weight: 400;
  color: #eee;
  background-color: #0d6dfd;
  font-family: "Roboto", sans-serif;
  transition: 0.15s linear;
}

.page-admin .login button:hover {
  cursor: pointer;
  text-shadow: 0px 0px 1px white;
  background-color: rgba(51, 51, 51, 0.959);
}

.page-admin .login .image-login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}

.page-admin .login .image-login-form .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  background-image: url("../../img//admin_640x427.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px) grayscale(100%);
  z-index: 1;
}

.page-admin .login .image-login-form .background::after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #333;
  z-index: 5;
}

.page-admin .login .image-login-form .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 10px;
  background-color: #0d6dfd4b;
  box-sizing: content-box;
  z-index: 3;
}

.page-admin .login .image-login-form .image img {
  width: 100%;
  image-rendering: optimizeQuality;
}

.page-admin .login .image-login-form .title,
.page-admin .login .image-login-form .title span {
  margin-top: 15px;
  color: #fff;
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 3;
}

.page-admin .login .image-login-form .title span {
  color: #0d6dfd;
}

/* LOGOUT  */

.page-admin .logout {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.page-admin .logout > span.icon {
  font-size: 0px;
  margin: 0 15px;
}

.page-admin .logout > span.icon > svg {
  color: rgba(17, 0, 255, 0.674);
}

.page-admin .logout > span.text {
  font-size: 16px;
  color: #666;
  flex-grow: 1;
}

.page-admin .logout span.text,
.page-admin .logout span.icon {
  transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.page-admin .logout:hover span.text,
.page-admin .logout:hover span.icon {
  transform: translateX(20px);
}

.page-admin .logout:hover span.text {
  opacity: 0.9;
}

/* TOP_BAR */

.page-admin .top-bar {
  position: fixed;
  left: 300px;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 5px 10px;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.22);
}

.page-admin .top-bar .form-search {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 45px;
}

.page-admin .top-bar .input-search {
  width: 30%;
  min-width: 259px;
  padding: 7px 25px;
  font-size: 15px;
  border: 1px solid #999;
  background-color: transparent;
  outline: none;
  color: #0d6dfd;
}

.page-admin .top-bar .input-search:focus {
  outline: 3px solid #62a1ffc1;
}

.page-admin .top-bar .btn-search {
  padding: 7px 25px;
  margin: 0 50px 0 15px;
  border: 1px solid #0d6dfd;
  font-size: 15px;
  background-color: transparent;
  color: #0d6dfd;
  text-transform: uppercase;
  transition: 0.15s ease-in-out;
}

.page-admin .top-bar .btn-search:hover {
  background-color: #0d6dfd;
  color: white;
  cursor: pointer;
}

.top-bar .other-options {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.top-bar .other-options > div {
  margin: 0 15px;
}

.top-bar .other-options .language {
  display: flex;
  align-items: center;
}

.top-bar .other-options .language .icon > svg,
.top-bar .other-options .template-mode .icon > svg,
.top-bar .other-options .notifications .icon > svg,
.top-bar .other-options .messages .icon > svg {
  font-size: 25px;
  color: #666;
}

.top-bar .other-options .language .name {
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #888;
  letter-spacing: 1px;
}

.top-bar .other-options .avatar .icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../../img/avatar_50x50.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* SIDE_BAR */
.page-admin .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
  width: 300px;
  border-right: 1px solid rgba(128, 128, 128, 0.22);
  background-color: white;
}

.page-admin .sidebar .head-text {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.22);
  color: rgba(17, 0, 255, 0.674);
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
}

.sidebar-nav {
  width: 100%;
  padding: 25px 20px;
}

.sidebar-nav .category-menu {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.sidebar-nav .category-menu:nth-last-of-type(2) {
  padding-bottom: 20px;
}

.sidebar-nav .category-menu .category-title {
  width: 100%;
  color: #888;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sidebar-nav .nav-item {
  width: 100%;
  margin-top: 20px;
  list-style: none;
  cursor: pointer;
}

.sidebar-nav .nav-item > * {
  transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sidebar-nav .nav-item:hover > * {
  transform: translateX(15px);
}

.sidebar-nav .nav-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar-nav .nav-item .nav-icon {
  display: flex;
  align-items: center;
}

.sidebar-nav .nav-item .nav-icon > svg {
  margin: 0 15px;
  color: rgba(17, 0, 255, 0.674);
  font-size: 25px;
}

.sidebar-nav .nav-item .item-text {
  color: #666;
  font-size: 16px;
}

.sidebar-nav .nav-item:hover .item-text {
  opacity: 0.9;
}

.sidebar-nav .nav-item a.active .item-text {
  color: rgba(17, 0, 255, 0.674);
  font-weight: bold;
}

/* Content  */
.content-admin-panel {
  position: absolute;
  left: 300px;
  right: 0;
  top: 70px;
  bottom: 0;
  padding: 10px;
  overflow-y: scroll;
}

/* DISHES  */

.content-admin-panel .dishes {
  display: flex;
  flex-wrap: wrap;
}

.content-admin-panel .dishes > .dish {
  padding: 4px 20px;
  margin: 3px 15px;
  font-size: 0;
  border: 1px solid #0d6dfd;
}

.content-admin-panel .dishes > .dish > span {
  display: block;
  font-size: 18px;
}

/* RWD  */

@media (max-width: 600px) {
  .page-admin .login > div {
    flex-direction: column-reverse;
    height: auto;
  }

  .page-admin .login .form {
    width: 100%;
  }

  .page-admin .login .image-login-form {
    width: 100%;
    padding: 50px 0;
  }
}
