.slider {
  display: block;
  position: relative;
  width: 100vw;
  height: calc(100vh - 74px);
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 0px 15px -5px #cbaa70;
}
.slider .slide-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slider .slide-list .slide {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.slider .slide-list .slide .slide-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.8) saturate(2);
}

.slider .slide-list .slide .slide-contentText {
  position: absolute;
  top: calc(50% - 90px);
  left: 10%;
  width: 80%;
  padding: 0 25px;
  background-color: transparent;
}

.slider .slide-list .slide .slide-contentText h3 {
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #cbaa70;
  font-size: 1.3em;
  text-indent: 25px;
}

.slider .slide-list .slide .slide-contentText span {
  font-size: 0.5em;
  color: #ccc5b9;
  text-shadow: 1px 1px 4px #403d39;
}

.arrows .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fffcf2;
  font-size: 1.3em;
  opacity: 0.5;
  z-index: 1;
}

.arrows .arrow:hover {
  cursor: pointer;
  opacity: 1;
}

.arrows .arrow.left {
  left: 25px;
}

.arrows .arrow.right {
  right: 25px;
}

.slider > .dots {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  bottom: 50px;
  width: 250px;
  height: 20px;
  padding: 35px 30px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.slider > .dots > div {
  display: block;
  width: 30px;
  height: 7px;
  /* border: 2px solid #fffcf2; */
  /* border-radius: 50%; */
  background-color: #fffcf2;
  opacity: 0.5;
}

.slider > .dots > div.active {
  background-color: #cbaa70;
}

.slider > .dots > div:hover {
  cursor: pointer;
}

.slider > .dots > div.active:hover {
  opacity: 1;
}

.slider .slide.fadeInAnimation {
  animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .slider .slide-list .slide .slide-contentText {
    top: calc(45% - 90px);
    left: 10%;
    width: 80%;
  }
  @media (max-width: 750px) {
    .slider .slide-list .slide .slide-contentText {
      top: 5%;
      left: 50%;
      width: 70%;
      text-align: center;
      transform: translateX(-50%);
    }

    .slider .slide-list .slide .slide-contentText h3 {
      margin-bottom: 50px;
      margin-top: 50px;
    }
    @media (max-width: 500px) {
      .slider {
        display: none;
      }
    }
  }
}

@media (max-height: 600px) and (orientation: landscape) {
  .slider .slide-list .slide .slide-contentText h3 {
    margin: 20px 0;
    font-size: 1.1em;
  }
  .slider .slide-list .slide .slide-contentText {
    width: 85%;
  }
  .slider .slide-list .slide .slide-contentText span {
    display: inline-block;
    line-height: 30px;
  }
  .slider > .dots {
    display: none;
  }
  @media (max-height: 400px) and (orientation: landscape) {
    .slider {
      height: calc(100vh - 60px) !important;
    }
    .home {
      margin-top: 60px !important;
    }
  }
}
